.App {
  text-align: center;
}
  .table{
    width: 95%;
  }

.table-wrapper{
  padding: 3rem;
}
@media (max-width: 1100px){
  .App{
    flex-direction: column;
  }

  .form{
    margin-bottom: 2rem;
  }

  .table-wrapper{
    padding: 1rem
  }


}

@media (max-width: 1100px){
  .gender{
    display:none;
  }
}
